{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": [
        "*.js"
      ],
      "extends": [
        "plugin:@typescript-eslint/disable-type-checked"
      ]
    }
  ]
}
